* {
    margin: 0;
    padding: 0;
    transition: all 0.5s;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Inter;
    font-style: normal;
    cursor: default;
}

body {
    background: #F5F5F5;
    /* overflow: hidden; */
}


.banner-before {
    position: absolute;
    width: 100%;
    height: 600px;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.banner:hover .banner-before {
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
}

.banner:hover .banner-img {
    background-size: 2240px 700px;

}


.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.banner-img {
    width: 100%;
    height: 600px;
    background-color: #4E5263;
    background: url(public/images/777.png) center no-repeat;
    background-size: 1920px 600px;
}



.banner-content {
    position: absolute;
    top: 120px;
    transform: translate(-260px, 0);
    z-index: 3;

    h3 {
        text-align: left;
        font-family: Inter;
        font-size: 48px;
        font-weight: 600;
        background: linear-gradient(90deg, #2476EC 0%, #9AADFF 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
    }

    p {
        text-align: left;
        font-family: Inter;
        color: white;
        font-size: 24px;
        font-weight: 500;
    }
}











.avatar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    overflow: visible;
}

.avatar:hover div {
    width: 36px;
    height: 36px;
    overflow: visible;
}

.avatar:hover .avatar-img {
    width: 50px;
    height: 50px;
    background: url(public/images/avatar01.png) center no-repeat;
    background-size: cover
}

.avatar>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    border: #2476EC solid 2px;
    overflow: visible;
}

.avatar-img {
    position: absolute;
    width: 36px;
    height: 36px;
    background: url(public/images/avatar.png) center no-repeat;
    background-size: cover
}

/* index */
.index {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: white;
    gap: 200px;
    box-shadow: 0 -6px 54px rgba(0, 0, 0, .1)
}

.index ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 32px;
}

.index ul li {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;

}

.index ul li:hover a {
    cursor: pointer;
}

.index ul li a {
    font-family: Inter;
    position: relative;
    font-size: 20px;
    text-decoration: none;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 0.8px rgba(36, 118, 236, 0.5);
}

.index ul li a::before {
    content: attr(data-text);
    position: absolute;
    color: #2476EC;
    width: 0%;
    overflow: hidden;
    transition: 0.5s;

}

.index ul li a:hover::before {
    width: 100%;
    border-right: 4px solid #2476EC;
    filter: drop-shadow(0 0 8px #A7C8F7);
}


.toggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
}

.toggle-body {
    position: relative;
    width: 30px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
}

.toggle-box {
    position: absolute;
    height: 6px;
    width: 6px;
    background-color: #2476EC;
    opacity: 1;
    cursor: pointer;
}

.toggle-box:nth-child(1) {
    left: 0;
    top: 0;
}

.toggle-box1 {
    transform: translate(4px, 4px);
}

.toggle-box:nth-child(2) {
    left: 12px;
    top: 0;
}

.toggle-box2 {
    transform: translate(0px, 4px);
}

.toggle-box:nth-child(3) {
    left: 24px;
    top: 0;
}

.toggle-box3 {
    transform: translate(-4px, 4px);
}

.toggle-box:nth-child(4) {
    left: 0;
    top: 12px;
}

.toggle-box4 {
    transform: translate(4px, 0px);
}

.toggle-box:nth-child(5) {
    left: 12px;
    top: 12px;
}

.toggle-box:nth-child(6) {
    left: 24px;
    top: 12px;
}

.toggle-box6 {
    transform: translate(-4px, 0px);
}

.toggle-box:nth-child(7) {
    left: 0;
    top: 24px;
}

.toggle-box7 {
    transform: translate(4px, -4px);
}

.toggle-box:nth-child(8) {
    left: 12px;
    top: 24px;
}

.toggle-box8 {
    transform: translate(0px, -4px);
}

.toggle-box:nth-child(9) {
    left: 24px;
    top: 24px;
}

.toggle-box9 {
    transform: translate(-4px, -4px);
}



/* box */
.box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
}

.content {
    position: relative;

    display: flex;
    width: 256px;
    height: 360px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 32px;
    background: #FFF;
}

.content:hover {
    transform: translateY(-8px);

    box-shadow:
        0px 5px 10px 0px rgba(99, 99, 99, 0.10),
        0px 19px 19px 0px rgba(99, 99, 99, 0.09),
        0px 43px 26px 0px rgba(99, 99, 99, 0.05),
        0px 76px 30px 0px rgba(99, 99, 99, 0.01),
        0px 119px 33px 0px rgba(99, 99, 99, 0.00);
}

.content:hover div h3 {
    filter: drop-shadow(0 0 8px #A1E3D5);
}

.content div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

/* .content div img{
    border-radius: 20px;
    width: 216px;
    height: 137px;
} */


.content div h3 {
    position: relative;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, #02AAB0 0%, #00CDAC 100%);
    background-clip: text;

    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content div p {
    color: #9A9CA6;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.content a {
    position: absolute;
    bottom: 32px;

    display: flex;
    height: 48px;
    width: 160px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 48px;
    background: #F5F5F5;

    color: #4E5263;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;

}

.content a:hover {
    background-color: #2476EC;
    color: white;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 2px;
}

/* 轮播图 */

.runtime {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    overflow: hidden;
    top: -200px;

}

.runtime>div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 1000px;
    height: 600px;
    background-color: #F5F5F5;
    box-shadow: 0px 7px 14px 0px rgba(0, 0, 0, 0.10), 0px 26px 26px 0px rgba(0, 0, 0, 0.09), 0px 59px 35px 0px rgba(0, 0, 0, 0.05), 0px 105px 42px 0px rgba(0, 0, 0, 0.01), 0px 164px 46px 0px rgba(0, 0, 0, 0.00);
}

#slide {
    /* display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px; */
    width: max-content;
    overflow: hidden;
}


.item-hot {
    position: absolute;
    width: 180px;
    height: 280px;
    z-index: 3;

}

.item-hot:nth-child(1) {
    left: 50%;
}

.item-hot:nth-child(2) {
    left: calc(50% + 180px + 16px);
}

.item-hot:nth-child(3) {
    left: calc(50% + (180px + 16px) *2);
}


.item-js-hover {
    background-size: 600px 360px !important;

    .item-content h3 {
        opacity: 1;
        font-size: 16px;
        font-weight: 700;
        filter: drop-shadow(0 0 8px #2476EC);
    }
}

.item {
    transition: all .5s;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    /* padding-left: 48px; */
    width: 180px;
    height: 280px;
    background-position: 35%;
    background-size: 500px 300px;
    z-index: 1;
    border-radius: 16px;
    box-shadow:
        0px 2px 5px 0px rgba(0, 0, 0, 0.12),
        0px 10px 10px 0px rgba(0, 0, 0, 0.10),
        0px 22px 13px 0px rgba(0, 0, 0, 0.06),
        0px 40px 16px 0px rgba(0, 0, 0, 0.02),
        0px 62px 17px 0px rgba(0, 0, 0, 0.00);
    top: 50%;
    transform: translate(0, -50%);
}

.item:hover .item-content h3 {
    opacity: 1;
    font-size: 16px;
    font-weight: 700;
    filter: drop-shadow(0 0 8px #2476EC);
}

.item-content {

    h3 {
        opacity: 0;
        color: white;
    }

    p {
        display: none;
    }

    a {
        display: none;
    }
}

.item:hover {
    background-size: 600px 360px;
}

.item:nth-child(2) .item-content {
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 40px;
    width: 400px;
    gap: 16px;



    h3 {
        display: block;
        opacity: 0;
        font-size: 40px;
        font-weight: bold;
        animation: show-item-content 1s ease-in-out 1 forwards;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    p {
        display: block;
        opacity: 0;
        font-size: 16px;
        font-weight: normal;
        animation: show-item-content 1s ease-in-out 0.3s 1 forwards;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    a {
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        padding: 8px;
        border-radius: 4px;
        background-color: #FFF;

        color: #4E5263;
        font-size: 12px;
        font-weight: 500;

        animation: show-item-content 1s ease-in-out 0.6s 1 forwards;
    }

    a:hover {
        background-color: #2476EC;
        color: white;
        cursor: pointer;
    }
}

@keyframes show-item-content {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
        filter: blur(0px);
    }


}

.item:nth-child(1),
.item:nth-child(2) {
    justify-content: flex-start;
    background-size: 1000px 600px;
    left: 0;
    top: 0;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: none;
}

.item:nth-child(3) {
    left: 50%;
}

.item:nth-child(4) {
    left: calc(50% + 180px + 16px);
}

.item:nth-child(5) {
    left: calc(50% + (180px + 16px) *2);
}

.item:nth-child(n + 6) {
    left: calc(50% + (180px + 16px) *3);
    opacity: 0;
}



.runtime-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    bottom: 32px;
    z-index: 2;
}

button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    z-index: 2;
}

#next div {
    width: 100%;
    height: 100%;
    background: url(public/images/right.png) no-repeat center;
}

#pre div {
    width: 100%;
    height: 100%;
    background: url(public/images/left.png) no-repeat center;
}

button:hover {
    background-color: #A7C8F7;
}