
*{
    margin: 0;
    padding: 0;
    transition: all 0.5s;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    background: #F5F5F5;
}


.box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
}

.content{
    display: flex;
    width: 256px;
    height: 360px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    border-radius: 32px;
    background: #FFF;
}


.content:hover{
    transform: translateY(-8px);

    box-shadow: 
    0px 5px 10px 0px rgba(99, 99, 99, 0.10),
    0px 19px 19px 0px rgba(99, 99, 99, 0.09), 
    0px 43px 26px 0px rgba(99, 99, 99, 0.05), 
    0px 76px 30px 0px rgba(99, 99, 99, 0.01), 
    0px 119px 33px 0px rgba(99, 99, 99, 0.00);
}

.content div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

/* .content div img{
    border-radius: 20px;
    width: 216px;
    height: 137px;
} */


.content div h3{
    color: #262146;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content div p{
    color: #999;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.content a{
    display: flex;
    padding: 12px 40px;
    align-items: center;
    gap: 10px;

    border-radius: 48px;
    background: #F5F5F5;

    color: #888888;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style:normal;
    font-weight: 600;
    line-height: 24px; 
}

.content a:hover{
    background-color: #262146;
    color: white;
}