.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 80px;
}

.box h3{
    color: red;
}

.box:hover{
    background-color: blue;
    transform: scale(1.2);
}
