
*{
    margin: 0;
    padding: 0;
    transition: all 0.5s;
    text-decoration: none;
}

body{
    background: #F5F5F5;
}


.box{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;
}

.content{
    display: flex;
    width: 256px;
    height: 360px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 32px;
    background: #FFF;
}

.content div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.content div img{
    border-radius: 20px;
    background: url(<path-to-image>), lightgray -132.792px -71.901px / 214.435% 190.228% no-repeat;
}


.content div h3{
    color: #262146;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.content div p{
    color: #999;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}

.content a{
    display: flex;
    padding: 12px 40px;
    align-items: center;
    gap: 10px;

    border-radius: 48px;
    background: #F5F5F5;

    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
}